@font-face {
    font-family: Digital;
    font-style: italic;
    src: url("../fonts/digital-7 (mono italic).ttf");
}

.screen {
    background-color: #adc2ae;
    width: 500px;
    height: 650px;
    position: relative;
    margin: auto;
    font-family: Digital;
    font-style: italic;
    font-size: 40px;
}

.board {
    position: absolute;
    top: 24px;
    left: 24px;
    border: 1px solid black;
    border-spacing: 0;
}

td {
    width: 30px;
    height: 30px;
    padding: 0;
}

.levelCap {
    position: absolute;
    top: 25px;
    left: 350px;
    margin: 0;
    line-height: 50px;
}

.levelNum {
    position: absolute;
    top: 75px;
    left: 350px;
    margin: 0;
    line-height: 50px;
}

.speedCap {
    position: absolute;
    top: 125px;
    left: 350px;
    margin: 0;
    line-height: 50px;
}

.speedNum {
    position: absolute;
    top: 175px;
    left: 350px;
    margin: 0;
    line-height: 50px;
}

.brick {
    background: no-repeat center center url(../img/brick.png);
}
