@font-face {
    font-family: Digital;
    font-style: italic;
    src: url("../fonts/digital-7 (mono italic).ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #111514;
    --yellow: #f9fe9a;
    --blue: #65c9fd;
    --green: #67e7b7;
    --gray: #b3c8c1;
}

body {
    background: no-repeat center center url(../img/bg.jpg);
}

.container {
    width: 1091px; /*prop*/
    height: 100vh;
    margin: 0 auto;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 100px; /*prop*/
    border-top-right-radius: 100px; /*prop*/
}

.title {
    color: var(--green);
    font-size: 70px; /*prop*/
    font-family: "Baumans", sans-serif;
}

.super {
    position: relative;
    color: var(--blue);
    font-size: 58px; /*prop*/
    font-family: "Baumans", sans-serif;
    padding: 0 20px;
    background-color: var(--black);
    display: inline-block;
    z-index: 1;
}

.content {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -35px;
}

.sidedecor {
    border-spacing: 6px;
}

.sidedecor-cell {
    width: 48px; /*prop*/
    height: 48px; /*prop*/
}

.square {
    background-color: var(--blue);
}

.sidedecor-cellcore {
    width: 38px;
    height: 38px;
    border-top: 5px solid var(--black); /*prop*/
    border-left: 7px solid var(--black); /*prop*/
    border-bottom: 12px solid var(--black); /*prop*/
    border-right: 7px solid var(--black); /*prop*/
    margin: 0 5px; /*prop*/
    background-color: var(--blue);
}

.center {
    width: 670px; /*prop*/
    height: 819px; /*prop*/
    border: 14px solid var(--yellow); /*prop*/
    background-color: var(--black);
    display: flex;
    justify-content: center;
    margin: 0 14px; /*prop*/
}

.skew {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.screen {
    display: flex;
    justify-content: center;
    width: 440px; /*prop*/
    height: 650px; /*prop*/
    margin-top: 70px;
    background-color: var(--gray);
}

.field {
    border: 3px solid var(--black); /*prop*/
    border-spacing: 0;
    margin-top: 25px;
}

.field-cell {
    width: 30px; /*prop*/
    height: 30px; /*prop*/
}


.brick {
    background: no-repeat center center url(../img/brick.png);
}

.hidden {
    visibility: hidden;
}

.menu {
    margin-top: 25px;
    width: 116px; /*prop*/
}

.menu-numbers {
    font-size: 34px; /*prop*/
    font-family: Digital;
    font-style: italic;
    line-height: 34px; /*prop*/
    letter-spacing: 0.06em;
}

.score-numbers {
    text-align: right;
    margin-bottom: 15px; /*prop*/
}

.first-numbers, .last-numbers {
    display: inline-block;
}

.menu-text {
    font-family: "Arimo", sans-serif;
    font-size: 16px; /*prop*/
    letter-spacing: 0.06em;
}

.thin-line {
    line-height: 19px; /*prop*/
}

.thick-line {
    line-height: 25px; /*prop*/
}

.hi {
    display: inline-block;
    width: 40px; /*prop*/
    text-align: right;
}

.score {
    display: inline-block;
    text-align: left;
}

.melody {
    display: inline-block;
    width: 36px; /*prop*/
    text-align: right;
    padding-right: 5px; /*prop*/
}

.melody img {
    width: 15px; /*prop*/
    height: 14px; /*prop*/
}

.lines {
    display: inline-block;
    text-align: left;
    margin-bottom: 4px; /*prop*/
}

.gameover, .next {
    text-align: center;
}

.next-figure {
    border-spacing: 0;
    margin: 12px; /*prop*/
}

.next-figure-cell {
    width: 25px; /*prop*/
    height: 25px; /*prop*/
}

.next-figure-brick {
    background: no-repeat center center url(../img/menuBrick.png);
}

.speed-level-etc {
    margin-left: 24px; /*prop*/
}

.speed-value, .level-value {
    width: 70px; /*prop*/
    text-align: right;
}

.level-value {
    margin-top: 15px; /*prop*/
}

.arrows {
    width: 77px; /*prop*/
    height: 41px; /*prop*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows img {
    width: 57px; /*prop*/
    height: 23px; /*prop*/
}

.pause {
    width: 77px; /*prop*/
    font-size: 20px; /*prop*/
    line-height: 20px; /*prop*/
    text-align: center;
    color: var(--gray);
    background-color: var(--black);
    margin-top: 6px; /*prop*/
}

.cup {
    width: 77px; /*prop*/
    text-align: center;
    margin-top: 14px; /*prop*/
}

.cup img {
    width: 76px; /*prop*/
    height: 36px; /*prop*/
}

.hint {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px; /*prop*/
    height: 200px; /*prop*/
    background-color: var(--black);
    border-top-left-radius: 30px; /*prop*/
    border-top-right-radius: 30px; /*prop*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.hint:hover{
    cursor: pointer;
}

.hint-text {
    font-family: "Baumans", sans-serif;
    font-size: 25px; /*prop*/
    color: var(--green);
    animation-name: flicker;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes flicker {
    from {text-shadow: none;}
    /*50% {text-shadow: 0px 0px 10px var(--yellow);}*/
    50% {text-shadow: 0px 0px 10px #f9fe9a;} /*prop*/
    to {text-shadow: none;}
}

.hint-imagecontainer {
    width: 110px; /*prop*/
    height: 110px; /*prop*/
    display: flex;
    align-items: center;
}

svg {
    fill: var(--yellow);
    max-width: 100%;
    height: auto;
}

.keyboardmap {
    width: 1091px; /*prop*/
    height: 100vh;
    margin: 0 auto;
    padding: 150px; /*prop*/
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px; /*prop*/
    border-top-right-radius: 100px; /*prop*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.keyboardmap-image {
    max-width: 100%;
    height: auto;
}

.open {
    z-index: 10;
}
